In [1]:
!cat "SQLTasks Tier 2.sql"

SELECT name
FROM Facilities
WHERE membercost > 0;



SELECT COUNT(*)
FROM Facilities





facilities in question. */

SELECT facid, name, membercost, monthlymaintenance
FROM Facilities






SELECT *
FROM Facilities







SELECT name,
	   CASE WHEN monthlymaintenance > 100 THEN 'expensive'
            ELSE 'cheap' END AS maintenance,
       monthlymaintenance





SELECT firstname, surname
FROM Members
WHERE joindate =







SELECT DISTINCT
  f.name AS court_name,
  CONCAT(m.surname, ", ", m.firstname) AS member_name
FROM
  Bookings AS b
LEFT JOIN
  Facilities as f
  USING(facid)
LEFT JOIN
  Members as m
  USING(memid)
WHERE f.name LIKE "Tennis%"









SELECT
  f.name AS facility_name,
  CONCAT(m.surname, ", ", m.firstname) AS member_name,
  CASE WHEN m.memid = 0 THEN (b.slots * f.guestcost)
  ELSE (b.slots * f.membercost) END AS cost
FROM
  Bookings AS b
LEFT JOIN
  Facilities AS f
  USING(facid)
LEFT JOIN
  Members AS m
  USING(memid)
WHERE
  DATE(b.starttime) = '2012-09-14'
  AND
  CASE WHEN m.memid = 0 THEN (b.slots * f.guestcost)
  ELSE (b.slots * f.membercost) END > 30
ORDER BY cost DESC;




SELECT
  facility_name,
  member_name,
  cost
FROM (
  SELECT
    CONCAT(m.surname, ", ", m.firstname) AS member_name,
    f.name AS facility_name,
    CASE WHEN m.memid = 0 THEN (b.slots * f.guestcost)
    ELSE (b.slots * f.membercost) END AS cost
  FROM
    Members as m
  INNER JOIN
    Bookings as b
  USING(memid)
  INNER JOIN
    Facilities as f
  USING(facid)
  WHERE
    DATE(b.starttime) = '2012-09-14'
  ) AS bc
  WHERE cost > 30
ORDER BY cost DESC;

In [2]:
import pandas as pd
import sqlite3

pd.set_option('display.max_rows', 500)

In [3]:
conn = sqlite3.connect("sqlite_db_pythonsqlite.db")

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [4]:
q11_query = """
SELECT
  m1.firstname||" "||m1.surname AS member,
  m2.firstname||" "||m2.surname AS recommended_by
FROM
  Members AS m1
INNER JOIN
  Members AS m2
  ON m1.recommendedby = m2.memid
ORDER BY m1.surname, m1.firstname;
"""

pd.read_sql_query(q11_query, conn)

                     member     recommended_by
0            Florence Bader    Ponder Stibbons
1                Anne Baker    Ponder Stibbons
2             Timothy Baker     Jemima Farrell
3                Tim Boothe         Tim Rownam
4            Gerald Butters       Darren Smith
5               Joan Coplin      Timothy Baker
6             Erica Crumpet        Tracy Smith
7                Nancy Dare    Janice Joplette
8           Matthew Genting     Gerald Butters
9                 John Hunt  Millicent Purview
10              David Jones    Janice Joplette
11            Douglas Jones        David Jones
12          Janice Joplette       Darren Smith
13           Anna Mackenzie       Darren Smith
14             Charles Owen       Darren Smith
15             David Pinker     Jemima Farrell
16        Millicent Purview        Tracy Smith
17         Henrietta Rumney    Matthew Genting
18         Ramnaresh Sarwin     Florence Bader
19               Jack Smith       Darren Smith
20          Ponder Stibbons       Burton Tracy
21  Henry Worthington-Smyth        Tracy Smith

Q12: Find the facilities with their usage by member, but not guests

In [5]:
q12_query = """
SELECT
  f.name AS fac_name,
  m.firstname||" "||m.surname AS member,
  SUM(b.slots) AS n_slots_usage
FROM
  Bookings AS b
LEFT JOIN
  Facilities AS f
  USING(facid)
LEFT JOIN
  Members AS m
  USING(memid)
WHERE
  b.memid <> 0
GROUP BY member, f.facid
ORDER BY m.surname, m.firstname, fac_name;
"""

pd.read_sql_query(q12_query, conn)

            fac_name                   member  n_slots_usage
0    Badminton Court           Florence Bader             27
1     Massage Room 2           Florence Bader              4
2         Pool Table           Florence Bader             23
3      Snooker Table           Florence Bader             66
4       Squash Court           Florence Bader              4
5       Table Tennis           Florence Bader             86
6     Tennis Court 1           Florence Bader              3
7     Tennis Court 2           Florence Bader             24
8    Badminton Court               Anne Baker             30
9     Massage Room 1               Anne Baker              6
10    Massage Room 2               Anne Baker              4
11        Pool Table               Anne Baker             12
12      Squash Court               Anne Baker            110
13      Table Tennis               Anne Baker              2
14    Tennis Court 1               Anne Baker             18
15    Tennis Court 2               Anne Baker            114
16   Badminton Court            Timothy Baker             21
17    Massage Room 1            Timothy Baker             50
18        Pool Table            Timothy Baker             95
19      Squash Court            Timothy Baker             10
20      Table Tennis            Timothy Baker             48
21    Tennis Court 1            Timothy Baker             45
22    Tennis Court 2            Timothy Baker             21
23   Badminton Court               Tim Boothe             36
24    Massage Room 1               Tim Boothe             76
25        Pool Table               Tim Boothe             26
26     Snooker Table               Tim Boothe             90
27      Squash Court               Tim Boothe             24
28      Table Tennis               Tim Boothe              8
29    Tennis Court 1               Tim Boothe             12
30    Tennis Court 2               Tim Boothe            168
31   Badminton Court           Gerald Butters             63
32    Massage Room 1           Gerald Butters             66
33    Massage Room 2           Gerald Butters              2
34        Pool Table           Gerald Butters              6
35     Snooker Table           Gerald Butters             72
36      Squash Court           Gerald Butters             18
37      Table Tennis           Gerald Butters              2
38    Tennis Court 1           Gerald Butters            171
39    Tennis Court 2           Gerald Butters              9
40    Massage Room 1              Joan Coplin              2
41    Massage Room 2              Joan Coplin              4
42        Pool Table              Joan Coplin             11
43     Snooker Table              Joan Coplin             20
44      Squash Court              Joan Coplin              2
45      Table Tennis              Joan Coplin             46
46    Tennis Court 1              Joan Coplin             21
47   Badminton Court            Erica Crumpet              6
48    Massage Room 1            Erica Crumpet              4
49      Table Tennis            Erica Crumpet              4
50    Tennis Court 1            Erica Crumpet              3
51   Badminton Court               Nancy Dare             30
52    Massage Room 1               Nancy Dare             38
53    Massage Room 2               Nancy Dare             10
54        Pool Table               Nancy Dare             19
55     Snooker Table               Nancy Dare             46
56      Table Tennis               Nancy Dare             10
57    Tennis Court 1               Nancy Dare             81
58    Tennis Court 2               Nancy Dare             33
59        Pool Table            David Farrell             25
60     Snooker Table            David Farrell              2
61      Squash Court            David Farrell              2
62    Tennis Court 1            David Farrell             18
63    Tennis Court 2            David Farrell              3
64   Badminton Court           Jemima Farrell             21
65    Massage Room 1           Jemima Farrell             68
66        Pool Table           Jemima Farrell              1
67     Snooker Table           Jemima Farrell             44
68      Squash Court           Jemima Farrell             16
69      Table Tennis           Jemima Farrell             24
70    Tennis Court 1           Jemima Farrell              3
71    Tennis Court 2           Jemima Farrell              3
72    Massage Room 1          Matthew Genting             52
73    Massage Room 2          Matthew Genting              2
74        Pool Table          Matthew Genting             18
75     Snooker Table          Matthew Genting              2
76      Table Tennis          Matthew Genting             54
77    Tennis Court 1          Matthew Genting              3
78   Badminton Court                John Hunt              6
79    Massage Room 1                John Hunt              6
80      Squash Court                John Hunt              2
81      Table Tennis                John Hunt              2
82    Tennis Court 1                John Hunt             12
83    Tennis Court 2                John Hunt             12
84   Badminton Court              David Jones             24
85    Massage Room 1              David Jones             40
86    Massage Room 2              David Jones              8
87        Pool Table              David Jones              8
88     Snooker Table              David Jones              4
89      Squash Court              David Jones             16
90      Table Tennis              David Jones             22
91    Tennis Court 1              David Jones             84
92    Tennis Court 2              David Jones             99
93   Badminton Court            Douglas Jones              6
94        Pool Table            Douglas Jones              2
95      Squash Court            Douglas Jones              2
96    Tennis Court 1            Douglas Jones             27
97    Massage Room 1          Janice Joplette             24
98    Massage Room 2          Janice Joplette              4
99        Pool Table          Janice Joplette             27
100    Snooker Table          Janice Joplette            142
101     Squash Court          Janice Joplette             30
102     Table Tennis          Janice Joplette             18
103   Tennis Court 1          Janice Joplette             57
104   Tennis Court 2          Janice Joplette             24
105  Badminton Court           Anna Mackenzie             96
106   Massage Room 1           Anna Mackenzie              2
107       Pool Table           Anna Mackenzie             83
108    Snooker Table           Anna Mackenzie             14
109     Squash Court           Anna Mackenzie              4
110     Table Tennis           Anna Mackenzie             32
111  Badminton Court             Charles Owen             18
112   Massage Room 1             Charles Owen             22
113   Massage Room 2             Charles Owen              4
114       Pool Table             Charles Owen              1
115    Snooker Table             Charles Owen             44
116     Squash Court             Charles Owen             14
117     Table Tennis             Charles Owen             50
118   Tennis Court 1             Charles Owen             51
119   Tennis Court 2             Charles Owen            141
120  Badminton Court             David Pinker             21
121   Massage Room 1             David Pinker              6
122       Pool Table             David Pinker              9
123    Snooker Table             David Pinker             32
124     Squash Court             David Pinker              6
125     Table Tennis             David Pinker             34
126   Tennis Court 1             David Pinker             51
127  Badminton Court        Millicent Purview              6
128       Pool Table        Millicent Purview              5
129    Snooker Table        Millicent Purview              2
130     Squash Court        Millicent Purview              2
131     Table Tennis        Millicent Purview             14
132   Tennis Court 2        Millicent Purview              3
133  Badminton Court               Tim Rownam             12
134   Massage Room 1               Tim Rownam            176
135   Massage Room 2               Tim Rownam              4
136       Pool Table               Tim Rownam            282
137     Table Tennis               Tim Rownam            150
138   Tennis Court 1               Tim Rownam             18
139   Tennis Court 2               Tim Rownam             18
140       Pool Table         Henrietta Rumney              3
141    Snooker Table         Henrietta Rumney             28
142     Squash Court         Henrietta Rumney              4
143   Tennis Court 2         Henrietta Rumney              3
144  Badminton Court         Ramnaresh Sarwin             21
145   Massage Room 1         Ramnaresh Sarwin             16
146   Massage Room 2         Ramnaresh Sarwin              6
147       Pool Table         Ramnaresh Sarwin             13
148    Snooker Table         Ramnaresh Sarwin             36
149     Squash Court         Ramnaresh Sarwin              4
150     Table Tennis         Ramnaresh Sarwin              6
151   Tennis Court 1         Ramnaresh Sarwin             15
152   Tennis Court 2         Ramnaresh Sarwin             36
153  Badminton Court             Darren Smith            432
154   Massage Room 1             Darren Smith             58
155       Pool Table             Darren Smith             28
156    Snooker Table             Darren Smith             24
157     Squash Court             Darren Smith             30
158     Table Tennis             Darren Smith             56
159   Tennis Court 2             Darren Smith             57
160  Badminton Court               Jack Smith             36
161   Massage Room 1               Jack Smith             54
162   Massage Room 2               Jack Smith              2
163       Pool Table               Jack Smith              7
164    Snooker Table               Jack Smith             10
165     Squash Court               Jack Smith             22
166     Table Tennis               Jack Smith             10
167   Tennis Court 1               Jack Smith             75
168   Tennis Court 2               Jack Smith              3
169  Badminton Court              Tracy Smith            102
170   Massage Room 1              Tracy Smith             12
171       Pool Table              Tracy Smith             64
172    Snooker Table              Tracy Smith             90
173     Squash Court              Tracy Smith             12
174     Table Tennis              Tracy Smith             56
175   Tennis Court 1              Tracy Smith             93
176   Tennis Court 2              Tracy Smith              6
177  Badminton Court          Ponder Stibbons             48
178   Massage Room 1          Ponder Stibbons             40
179       Pool Table          Ponder Stibbons             12
180    Snooker Table          Ponder Stibbons             40
181     Squash Court          Ponder Stibbons              4
182     Table Tennis          Ponder Stibbons              6
183   Tennis Court 1          Ponder Stibbons              3
184   Tennis Court 2          Ponder Stibbons             96
185  Badminton Court             Burton Tracy              6
186   Massage Room 1             Burton Tracy             62
187       Pool Table             Burton Tracy             30
188    Snooker Table             Burton Tracy             40
189     Squash Court             Burton Tracy             78
190     Table Tennis             Burton Tracy             48
191   Tennis Court 1             Burton Tracy             93
192   Tennis Court 2             Burton Tracy              9
193  Badminton Court      Hyacinth Tupperware              3
194   Massage Room 1      Hyacinth Tupperware              2
195       Pool Table      Hyacinth Tupperware              9
196    Snooker Table      Hyacinth Tupperware             12
197     Squash Court      Hyacinth Tupperware              2
198  Badminton Court  Henry Worthington-Smyth             15
199   Massage Room 1  Henry Worthington-Smyth              2
200       Pool Table  Henry Worthington-Smyth             37
201     Table Tennis  Henry Worthington-Smyth              6

Q13: Find the facilities usage by month, but not guests

In [6]:
q13_query = """
SELECT
  strftime('%Y-%m', b.starttime) AS month,
  f.name,
  SUM(b.slots) AS n_slots_usage
FROM
  Bookings AS b
LEFT JOIN
  Facilities AS f
  USING(facid)
WHERE
  b.memid <> 0
GROUP BY month, f.facid
ORDER BY month;
"""

pd.read_sql_query(q13_query, conn)

      month             name  n_slots_usage
0   2012-07   Tennis Court 1            201
1   2012-07   Tennis Court 2            123
2   2012-07  Badminton Court            165
3   2012-07     Table Tennis             98
4   2012-07   Massage Room 1            166
5   2012-07   Massage Room 2              8
6   2012-07     Squash Court             50
7   2012-07    Snooker Table            140
8   2012-07       Pool Table            110
9   2012-08   Tennis Court 1            339
10  2012-08   Tennis Court 2            345
11  2012-08  Badminton Court            414
12  2012-08     Table Tennis            296
13  2012-08   Massage Room 1            316
14  2012-08   Massage Room 2             18
15  2012-08     Squash Court            184
16  2012-08    Snooker Table            316
17  2012-08       Pool Table            303
18  2012-09   Tennis Court 1            417
19  2012-09   Tennis Court 2            414
20  2012-09  Badminton Court            507
21  2012-09     Table Tennis            400
22  2012-09   Massage Room 1            402
23  2012-09   Massage Room 2             28
24  2012-09     Squash Court            184
25  2012-09    Snooker Table            404
26  2012-09       Pool Table            443